@charset "UTF-8";
/*Utilities*/
/*Mapa de Colores en Redes*/
.btn--twitter {
  background-color: #55acee; }

.btn--facebook {
  background-color: #3a5795; }

.btn--pinterest {
  background-color: #c8232c; }

.btn--instagram {
  background-color: #d6249f; }

.btn--youtube {
  background-color: #c4302b; }

/*Componentes*/
.navbar-brand img {
  width: 100%;
  margin: 0px;
  padding: 0px; }

.navbar {
  background-color: #e4b47a !important;
  font-family: 'Barlow', sans-serif;
  font-size: larger; }

.titulo_principal {
  font-family: 'Barlow', sans-serif;
  font-style: oblique;
  font-weight: bolder;
  color: #c9693d;
  width: 100%;
  margin: 30px 10px 0px 10px;
  text-align: center;
  padding: 15px 20px 15px 20px;
  border: 10px auto 5px auto;
  word-spacing: 20px;
  letter-spacing: 10px; }

.titulo_producto {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  text-align: center;
  padding: 30px;
  font-weight: bolder;
  color: #bd3715;
  font-size: xx-large; }

.tarjeta_producto h2 {
  grid-area: titulo;
  font-weight: bold;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
  font-style: oblique;
  height: 30%;
  align-self: center;
  text-align: justify; }

.formulario h2 {
  font-weight: bold;
  font-size: xx-large;
  font-family: 'Barlow', sans-serif;
  margin-top: 10px;
  align-self: flex-start;
  color: #bd3715; }

.nosotros h2 {
  font-weight: bold;
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  color: #bd3715; }

.carousel_principal {
  width: 100%;
  margin: 10px auto 10px auto;
  padding: 0px 10px 20px 10px;
  border: 0px 20px 20px 20px; }

.tarjeta_producto {
  display: grid;
  grid-template-areas: "imagen" "titulo" "precio" "boton";
  grid-template-rows: 5fr 2fr 1fr 1fr;
  border: solid 5px black;
  border-style: double;
  width: 60%;
  height: 95%;
  padding: 20px;
  margin: 10px;
  justify-items: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: #abd6d7;
  transition: all 1.5s; }

.tarjeta_producto p {
  grid-area: precio;
  font-weight: bolder;
  font-size: large;
  text-align: justify; }

footer p {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 10px; }

.nosotros p {
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: large;
  font-weight: bold; }

.tarjeta_producto button {
  grid-area: boton;
  background-color: #0d6efd;
  color: white;
  border-radius: 40%;
  padding: 0.5rem; }

.redes_nosotros button {
  width: 100%;
  color: white; }

.galeria div img {
  width: 90%;
  margin: 20px; }

.marcas img {
  width: 10%;
  margin: 20px; }

.tarjeta_producto img {
  grid-area: imagen;
  width: 90%; }

.foto_nosotros {
  width: 100%;
  margin: 10px auto 10px auto;
  padding: 0px 10px 20px 10px;
  border: 0px 20px 20px 20px; }

/*Reset de CSS clásico*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Main & Fondo*/
main {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: abs; }

#foto_fondo {
  position: fixed;
  min-width: 100vw;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  filter: opacity(50%); }

/*Layout*/
.galeria {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  margin: 15px;
  justify-content: center !important;
  justify-items: center !important; }
  .galeria__div {
    width: 90%; }

.cards, .cards_x9 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 50% 50%;
  justify-items: center;
  margin: 1rem 2rem 2rem 2rem;
  row-gap: 10px;
  column-gap: 0;
  width: 100%;
  height: 100%; }

.cards_x9 {
  grid-template-rows: 1fr 1fr 1fr; }

.contactanos {
  display: grid;
  grid-template-rows: 10rem 34rem; }

.nosotros {
  display: grid;
  grid-template-columns: 5fr 2fr 1fr;
  grid-template-rows: auto;
  column-gap: 15%;
  align-items: flex-start;
  margin-left: 2rem;
  margin-right: 5rem;
  margin-top: 5rem;
  margin-bottom: 2rem; }
  .nosotros .redes_nosotros {
    display: flex;
    flex-direction: column;
    row-gap: 10px; }

.marcas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.formulario {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  row-gap: 20px; }

.redes {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10px;
  margin-bottom: 10px; }

/*Transitions*/
.tarjeta_producto:hover {
  width: 65%;
  height: 100%;
  margin: 0px;
  background-color: #e4b47a; }

.tarjeta_producto button:hover {
  background-color: #3011b8;
  color: white; }

/*Footer*/
footer {
  display: grid;
  grid-template-rows: auto auto;
  background-color: #e4b47a;
  text-align: center;
  padding: 5px;
  margin-top: 5px; }

/*Responsive*/
/*RESPONSIVE PARA TABLET*/
@media screen and (max-width: 1023px) {
  .carousel_principal {
    width: 100%; }
  .galeria {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    margin: 15px;
    justify-content: center !important;
    justify-items: center !important; }
    .galeria div img {
      width: 70%;
      justify-self: center;
      align-self: center; }
  .cards, .cards_x9 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr; }
  .cards_x9 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr; } }

/*RESPONSIVE PARA CELULAR*/
@media screen and (max-width: 479px) {
  .carousel_principal {
    width: 100%; }
  .galeria {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    margin: 15px;
    justify-content: center !important;
    justify-items: center !important; }
    .galeria div img {
      width: 90%;
      justify-self: center;
      align-self: center; }
  .marcas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center; }
    .marcas img {
      width: 50%;
      height: 50%; }
  .cards, .cards_x9 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; }
  .cards_x9 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; }
  .tarjeta_producto {
    width: 95%;
    height: 80%;
    grid-template-columns: auto; }
    .tarjeta_producto img {
      width: 40%; }
  .tarjeta_producto:hover {
    width: 100%;
    height: 85%;
    margin: 0px;
    background-color: #e4b47a; }
  .formulario {
    width: 80%;
    height: 100%;
    justify-self: center; }
  footer p {
    font-size: small; }
  .nosotros {
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-columns: auto;
    row-gap: 5px;
    align-items: center;
    margin: 20px;
    height: 50%; }
    .nosotros .redes_nosotros {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      padding-left: 50px;
      padding-right: 50px; } }
