.tarjeta_producto:hover {
    width: 65%;
    height: 100%;
    margin: 0px;
    background-color: rgb(228, 180, 122);
}

.tarjeta_producto button:hover {
    background-color: rgb(48, 17, 184);
    color: white;
}
