$primario:  rgb(228, 180, 122);
$secundario: rgb(171, 214, 215);

/*Mapa de Colores en Redes*/

$redes: (
    twitter: #55acee,
    facebook: #3a5795,
    pinterest: #c8232c,
    instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%),
    youtube: #c4302b
);

@each $var, $color in $redes {
    .btn--#{$var} {
        background-color: $color;
    }
}