.tarjeta_producto button {
    grid-area: boton;
    background-color: #0d6efd;
    color: white;
    border-radius: 40%;
    padding: 0.5rem;   
}

.redes_nosotros button {
    width: 100%;
    color: white;
}