.tarjeta_producto p {
    grid-area: precio;
    font-weight: bolder;
    font-size: large;
    text-align: justify;
}

footer p {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}