.titulo_principal {
    font-family: 'Barlow', sans-serif;
    font-style: oblique;
    font-weight: bolder;
    color: rgb(201, 105, 61);
    width: 100%;
    margin: 30px 10px 0px 10px;
    text-align: center;
    padding: 15px 20px 15px 20px;
    border: 10px auto 5px auto;
    word-spacing: 20px;
    letter-spacing: 10px;
}

.titulo_producto {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    text-align: center;
    padding: 30px;
    font-weight: bolder;
}

.tarjeta_producto h2 {
    grid-area: titulo;
    font-weight: bold;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    font-style: oblique;
    height: 30%;
    align-self: center;
    text-align: justify;
}